
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* @media screen and (min-width: 200px) and (max-width: 768px)  
@media screen and (max-width: 574px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

        :root {
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
            --primary-color: #ffffff;
        }

        body {
            align-self: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            min-height: 100vh;
            background-color: var(--bg-color);
        }

        .container {
            align-self: center;
           /*  flex-grow: 3; 
            display: flex;
           /*  flex-direction: column; 
            justify-content: space-around;
            /* width: 84.9%; 
            width: 100%;
            padding: 25px;
            gap: 35px;
        }
        .container .botao{
            align-self: center;
            margin-top: 0.5rem;
            display: flex;
            /* width: 81.9%; 
            width: 94%;
            gap: 10px;
             /* background-color: black; 
            margin-left: 0px;
            justify-content: space-around;
        }
         .botao .consultar{
           /*  margin-left: 10px; 
            width: 200px;
            height:10px;
        }
        .botao .Limpar{
            width: 200px;
            height: 10px;
           
        }

        .title {
            align-self: center;
            font-size: 40px;
            text-align: center;
            user-select: none;
            color: var(--primary-color);
        }

        .inputbox {
            align-self: center;
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            height: 40px;
        }

        .inputbox label {
            position: relative;
            top: 0;
            left: 10px;
            font-size: 20px;
            color: var(--primary-color);
            transition: .5s;
            cursor: text;
        }

        .inputbox input {
            justify-content: space-around;
            position: absolute;
            background-color: var(--primary-color);
            width: 92%;
            height: 35px;
            /* bottom: 0; 
            box-shadow: none;
            border: none;
            outline: none;
            border-radius: 2px;
            font-size: 20px;
            font-weight: bold;
            padding: 0 10px;
        }

        .container button {
            flex-grow: 3;
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap: 40px;
            align-self: center;
            justify-content: space-around;
            
        }
        .row {
            /* display: grid; 
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 40px;
        }
    
        .botao{
          display: flex;
          width: 36vh;
          justify-content: space-around;
          margin-left: 22.9px
        }

        footer {
            color: var(--primary-color);
            cursor: pointer;
        }

        .logo {
            margin-top: 25px;
            height: 30px;
            width: 30px;
        }

        .toast-message {
            border-left: 6px solid rgb(4, 101, 228);

        }
    } */